<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    <bean id="Stu1" class="com.springsabu.Sabu"> 
   <constructor-arg value="2" type="int"> </constructor-arg>
   <constructor-arg value="Mrsabu" type="String"> </constructor-arg>
      <constructor-arg value="10000" type="float"> </constructor-arg>
    </bean>
    </beans>